/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background: #f4f4f4;
    line-height: 1.6;
}

.cv-container {
    display: flex;
    max-width: 1100px;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Left Column */
.left-column {
    width: 30%;
    background-color: #292b2f;
    color: #fff;
    padding: 30px;
    text-align: left;
}

    .left-column .section {
        margin-bottom: 20px;
    }

    .left-column h2 {
        font-size: 16px;
        color: fafbfd;
        margin-bottom: 10px;
        text-transform: uppercase;
        border-bottom: 1px solid #ffcc00;
        padding-bottom: 5px;
    }

    .left-column p, .left-column ul {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 10px;
    }

    /* Asegurar que las viñetas estén alineadas con el título */
    .left-column ul {
        list-style-type: disc;
        padding-left: 20px; /* Ajustar el margen izquierdo para las viñetas */
        margin-left: 0; /* Eliminar cualquier margen extra */
    }

    .left-column li {
        margin-bottom: 8px;
    }

.profile img {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    margin: 0 auto 20px auto;
    display: block;
    border: 8px solid #d3a20d;
}

/* Estilos para los iconos en la sección de contacto */
.contact ul {
    list-style: none;
    padding-left: 0;
}

.contact li {
    margin-bottom: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

    .contact li i {
        margin-right: 10px;
        font-size: 20px;
        color: white; /* Color blanco por defecto para los iconos */
        transition: color 0.3s ease; /* Animación suave al pasar el mouse */
    }

        /* Colores específicos para cada icono */
        .contact li i.fas.fa-envelope:hover {
            color: #007BFF; /* Azul para el icono de correo */
        }

        .contact li i.fas.fa-phone:hover {
            color: #28a745; /* Verde para el icono de teléfono */
        }

        .contact li i.fab.fa-whatsapp:hover {
            color: #25D366; /* Verde de WhatsApp */
        }

        .contact li i.fab.fa-linkedin:hover {
            color: #0077B5; /* Azul para el icono de LinkedIn */
        }

        .contact li i.fas.fa-map-marker-alt:hover {
            color: #FF5733; /* Naranja para el icono de ubicación */
        }

/* Colores al pasar el mouse sobre los enlaces */
.contact a {
    color: inherit; /* Heredar el color del icono */
    text-decoration: none; /* Sin subrayado */
}

    .contact a:hover {
        text-decoration: underline; /* Subrayado al pasar el ratón por encima del enlace */
    }

/* Right Column */
.right-column {
    width: 70%;
    padding: 30px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

    header h1 {
        color: #292b2f;
        font-size: 28px;
        margin-bottom: 10px;
    }

    header p {
        font-size: 16px;
        color: #666;
        margin-top: 10px;
    }

/* Estilo general para las secciones */
section {
    margin-bottom: 20px;
}

    section h2 {
        font-size: 20px;
        color: #292b2f;
        border-bottom: 2px solid #ffcc00;
        padding-bottom: 5px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    section p, section ul {
        text-align: justify;
        font-size: 14px;
        color: #333;
        margin-bottom: 10px;
    }

/* Estilo para los iconos dentro de .section */
.section i {
    margin-left: 5px; /* Espaciado entre la palabra y el icono */
    font-size: 1.2em; /* Tamaño del icono, ajustable según el diseño */
    color: #3498db; /* Color predeterminado del icono, ajustable al tema */
}

/* Colores específicos para los iconos de herramientas */
.fab.fa-wordpress {
    color: #21759B; /* Color específico para WordPress */
}

.fab.fa-elementor {
    color: #6C7DFF; /* Color específico para Elementor */
}

.fab.fa-vuejs {
    color: #41B883; /* Color específico para WPBakery (Vue.js) */
}

.fas.fa-store {
    color: #0073e6; /* Color específico para WooCommerce */
}

.fas.fa-chart-line {
    color: #f39c12; /* Color específico para SEO */
}

.fab.fa-php {
    color: #8e44ad; /* Color específico para PHP */
}

.fab.fa-python {
    color: #306998; /* Color específico para Python */
}

.fab.fa-js {
    color: #f7df1e; /* Color específico para JavaScript */
}

.fab.fa-html5 {
    color: #e34f26; /* Color específico para HTML5 */
}

.fab.fa-css3-alt {
    color: #264de4; /* Color específico para CSS3 */
}

.fas.fa-tachometer-alt {
    color: #2ecc71; /* Color específico para LiteSpeed Cache */
}

.fab.fa-cloudflare {
    color: #f1c40f; /* Color específico para Cloudflare */
}

/* Estilo para el título del trabajo (h3) */
.job h3 {
    color: #292b2f; /* Color oscuro para el título */
    font-size: 16px; /* Tamaño de fuente */
    margin-bottom: 5px; /* Espacio debajo del título */
}

/* Estilo para las fechas o descripciones de trabajos (p) */
.job p {
    font-size: 14px; /* Tamaño de fuente */
    color: #666; /* Color gris para la descripción */
}

/* Estilo para la lista de responsabilidades y logros */
.job ul {
    list-style-type: disc; /* Puntos de lista */
    margin-left: 20px; /* Desplazamiento a la izquierda */
}

    /* Estilo para cada ítem de la lista */
    .job ul li {
        margin-bottom: 5px; /* Espacio entre ítems de la lista */
    }

.language-switch {
    text-align: right;
    margin: 10px;
    padding: 5px;
}

.language-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #ffffff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .language-button:hover {
        background-color: #0056b3;
    }

/* Estilo para impresión */
@media print {
    /* Global Styles */
    .web-version {
        display: none !important; /* Oculta todos los elementos */
    }

    .print-version {
        display: block !important; /* Muestra el bloque de impresión */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        color: #333;
        background: #f4f4f4;
        line-height: 1.4;
    }

    /* Contenedor del CV */
    .cv-container {
        display: flex;
        max-width: 1100px;
        margin: 20px auto;
        background: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    /* Estilo para la foto de perfil */
    .profile-photo {
        text-align: center;
        margin-bottom: 20px;
    }

        .profile-photo img {
            width: 180px;
            height: 180px;
            border-radius: 50%;
            margin: 0 auto 15px auto;
            display: block;
            border: 6px solid #d3a20d;
        }

    /* Columna Izquierda */
    .left-column {
        width: 30%;
        background-color: #292b2f;
        color: #fff;
        padding: 20px;
        text-align: left;
        -webkit-print-color-adjust: exact; /* Forzar impresión del color de fondo */
        print-color-adjust: exact; /* Para navegadores compatibles */
    }

        .left-column .section {
            margin-bottom: 40px;
        }

        .left-column h2 {
            font-size: 10px;
            color: #fafbfd;
            margin-bottom: 8px;
            text-transform: uppercase;
            border-bottom: 1px solid #ffcc00;
            padding-bottom: 4px;
        }

        .left-column p, .left-column ul {
            font-size: 9px;
            line-height: 1.3;
            margin-bottom: 8px;
        }

        .left-column ul {
            list-style-type: disc;
            padding-left: 15px;
            margin-left: 0;
        }

        .left-column li {
            margin-bottom: 5px;
        }

    /* Estilos para los iconos en la sección de contacto */
    .contact ul {
        list-style: none;
        padding-left: 0;
    }

    .contact li {
        margin-bottom: 15px;
        font-size: 11px;
        display: flex;
        align-items: center;
    }

        .contact li i {
            margin-right: 8px;
            font-size: 16px;
            color: white;
        }

            .contact li i.fas.fa-envelope {
                color: #007BFF;
            }

            .contact li i.fas.fa-phone {
                color: #28a745;
            }

            .contact li i.fab.fa-whatsapp {
                color: #25D366;
            }

            .contact li i.fab.fa-linkedin {
                color: #0077B5;
            }

            .contact li i.fas.fa-map-marker-alt {
                color: #FF5733;
            }

    /* Columna Derecha */
    .right-column {
        width: 70%;
        padding: 20px;
    }

    header {
        text-align: center;
        margin-bottom: 15px;
    }

        header h1 {
            color: #292b2f;
            font-size: 12px;
            margin-bottom: 8px;
        }

        header p {
            font-size: 9px;
            color: #666;
            margin-top: 8px;
        }

    /* Estilo general para las secciones */
    section {
        margin-bottom: 18px;
    }

        section h2 {
            font-size: 10px;
            color: #292b2f;
            border-bottom: 1px solid #ffcc00;
            padding-bottom: 4px;
            margin-bottom: 8px;
            text-transform: uppercase;
        }

        section p, section ul {
            text-align: justify;
            font-size: 9px;
            color: #333;
            margin-bottom: 8px;
        }

    /* Estilo para los iconos dentro de .section */
    .section i {
        margin-left: 4px;
        font-size: 1em;
        color: #fafbfd;
    }

    /* Estilo para el título del trabajo (h3) */
    .job h3 {
        color: #292b2f;
        font-size: 12px;
        margin-bottom: 4px;
    }

    /* Estilo para las fechas o descripciones de trabajos (p) */
    .job p {
        font-size: 9px;
        color: #666;
    }

    /* Estilo para la lista de responsabilidades y logros */
    .job ul {
        list-style-type: disc;
        margin-left: 15px;
    }

        .job ul li {
            margin-bottom: 4px;
        }
}
