/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background: #f4f4f4;
    line-height: 1.6;
}

.cv-container {
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se ajusten cuando no haya suficiente espacio */
    max-width: 1100px;
    margin: 20px auto;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Left Column */
.left-column {
    width: 30%;
    background-color: #292b2f;
    color: #fff;
    padding: 30px;
    text-align: left;
}

    .left-column .section {
        margin-bottom: 20px;
    }

    .left-column h2 {
        font-size: 16px;
        color: #fafbfd;
        margin-bottom: 10px;
        text-transform: uppercase;
        border-bottom: 1px solid #ffcc00;
        padding-bottom: 5px;
    }

    .left-column p,
    .left-column ul {
        font-size: 14px;
        line-height: 1.4;
        margin-bottom: 10px;
    }

    .left-column ul {
        list-style-type: disc;
        padding-left: 20px;
        margin-left: 0;
    }

    .left-column li {
        margin-bottom: 8px;
    }

.profile img {
    width: 100%; /* Hace que la imagen se ajuste al contenedor */
    height: auto; /* Mantiene la relación de aspecto */
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
    border: 8px solid #d3a20d;
}

/* Contact Section */
.contact ul {
    list-style: none;
    padding-left: 0;
}

.contact li {
    margin-bottom: 20px;
    font-size: 14px;
    display: flex;
    align-items: center;
}

    .contact li i {
        margin-right: 10px;
        font-size: 20px;
        color: white;
        transition: color 0.3s ease;
    }

        .contact li i:hover {
            color: #007BFF; /* Default hover color */
        }

        .contact li i.fas.fa-envelope:hover {
            color: #007BFF;
        }

        .contact li i.fas.fa-phone:hover {
            color: #28a745;
        }

        .contact li i.fab.fa-whatsapp:hover {
            color: #25D366;
        }

        .contact li i.fab.fa-linkedin:hover {
            color: #0077B5;
        }

        .contact li i.fas.fa-map-marker-alt:hover {
            color: #FF5733;
        }

.contact a {
    color: inherit;
    text-decoration: none;
}

    .contact a:hover {
        text-decoration: underline;
    }

/* Right Column */
.right-column {
    width: 70%;
    padding: 30px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

    header h1 {
        color: #292b2f;
        font-size: 28px;
        margin-bottom: 10px;
    }

    header p {
        font-size: 16px;
        color: #666;
        margin-top: 10px;
    }

/* About Me Section */
.about-me ul {
    list-style-type: disc;
    padding-left: 20px;
    margin-left: 0;
}

    .about-me ul li {
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 1.6;
    }

/* Section Styles */
section {
    margin-bottom: 20px;
}

    section h2 {
        font-size: 20px;
        color: #292b2f;
        border-bottom: 2px solid #ffcc00;
        padding-bottom: 5px;
        margin-bottom: 10px;
        text-transform: uppercase;
    }

    section p,
    section ul {
        text-align: justify;
        font-size: 14px;
        color: #333;
        margin-bottom: 10px;
    }

/* Icon Styles */
.section i {
    margin-left: 5px;
    font-size: 1.2em;
    color: #3498db;
}

.fab.fa-wordpress {
    color: #21759B;
}

.fab.fa-elementor {
    color: #6C7DFF;
}

.fab.fa-vuejs {
    color: #41B883;
}

.fas.fa-store {
    color: #0073e6;
}

.fas.fa-chart-line {
    color: #f39c12;
}

.fab.fa-php {
    color: #8e44ad;
}

.fab.fa-python {
    color: #306998;
}

.fab.fa-js {
    color: #f7df1e;
}

.fab.fa-html5 {
    color: #e34f26;
}

.fab.fa-css3-alt {
    color: #264de4;
}

.fas.fa-tachometer-alt {
    color: #2ecc71;
}

.fab.fa-cloudflare {
    color: #f1c40f;
}

/* Job Styles */
.job h3 {
    color: #292b2f;
    font-size: 16px;
    margin-bottom: 5px;
}

.job p {
    font-size: 14px;
    color: #666;
}

.job ul {
    list-style-type: disc;
    margin-left: 20px;
}

    .job ul li {
        margin-bottom: 5px;
    }

/* Language Switch */
.language-switch {
    text-align: right;
    margin: 10px;
    padding: 5px;
}

.language-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: #ffffff;
    background-color: #007bff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

    .language-button:hover {
        background-color: #0056b3;
    }

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
    .left-column, .right-column {
        width: 100%; /* Hacer que las columnas ocupen el 100% del ancho */
        padding: 15px; /* Reducir el padding */
    }

    h1, h2 {
        font-size: 1.2rem; /* Ajustar tamaño de fuentes */
    }

    .left-column ul, .right-column ul {
        font-size: 0.9rem; /* Reducir tamaño de fuente */
    }
}

/* Para pantallas muy pequeñas */
@media (max-width: 480px) {
    .cv-container {
        flex-direction: column; /* Apilar las columnas en pantallas pequeñas */
    }

    .profile img {
        width: 150px; /* Reducir tamaño de la imagen en dispositivos móviles */
    }

    .contact li {
        font-size: 12px; /* Reducir el tamaño de la fuente */
    }

    .language-switch a {
        font-size: 14px;
    }
}

/* Estilo para impresión */
@media print {
    /* Global Styles */
    .web-version {
        display: none !important; /* Oculta todos los elementos */
    }

    .print-version {
        display: block !important; /* Muestra el bloque de impresión */
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        font-family: Arial, sans-serif;
        color: #333;
        background: #f4f4f4;
        line-height: 1.4;
    }

    /* Contenedor del CV */
    .cv-container {
        display: flex;
        max-width: 1100px;
        margin: 20px auto;
        background: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0);
    }

    /* Estilo para la foto de perfil */
    .profile-photo {
        text-align: center;
        margin-bottom: 20px;
    }

        .profile-photo img {
            width: 135px;
            height: 135px;
            border-radius: 50%;
            margin: 0 auto 15px auto;
            display: block;
            border: 6px solid #d3a20d;
        }

    /* Columna Izquierda */
    .left-column {
        width: 30%;
        background-color: #292b2f;
        color: #fff;
        padding: 20px;
        text-align: left;
        -webkit-print-color-adjust: exact; /* Forzar impresión del color de fondo */
        print-color-adjust: exact; /* Para navegadores compatibles */
    }

        .left-column .section {
            margin-bottom: 10px;
        }

        .left-column h2 {
            font-size: 10px;
            color: #fafbfd;
            margin-bottom: 8px;
            text-transform: uppercase;
            border-bottom: 1px solid #ffcc00;
            padding-bottom: 4px;
        }

        .left-column p, .left-column ul {
            font-size: 9px;
            line-height: 1.3;
            margin-bottom: 8px;
        }

        .left-column ul {
            list-style-type: disc;
            padding-left: 15px;
            margin-left: 0;
        }

        .left-column li {
            margin-bottom: 5px;
        }

    /* Estilos para los iconos en la sección de contacto */
    .contact ul {
        list-style: none;
        padding-left: 0;
    }

    .contact li {
        margin-bottom: 15px;
        font-size: 11px;
        display: flex;
        align-items: center;
    }

        .contact li i {
            margin-right: 8px;
            font-size: 16px;
            color: white;
        }

            .contact li i.fas.fa-envelope {
                color: #007BFF;
            }

            .contact li i.fas.fa-phone {
                color: #28a745;
            }

            .contact li i.fab.fa-whatsapp {
                color: #25D366;
            }

            .contact li i.fab.fa-linkedin {
                color: #0077B5;
            }

            .contact li i.fas.fa-map-marker-alt {
                color: #FF5733;
            }

    /* Columna Derecha */
    .right-column {
        width: 70%;
        padding: 10px;
    }

    header {
        text-align: center;
        margin-bottom: 15px;
    }

        header h1 {
            color: #292b2f;
            font-size: 12px;
            margin-bottom: 8px;
        }

        header p {
            font-size: 9px;
            color: #666;
            margin-top: 8px;
        }

    /* Estilo para las listas en la sección de "Sobre mí" */
    .about-me ul {
        list-style-type: disc;
        padding-left: 15px;
        margin-left: 0;
    }

        .about-me ul li {
            margin-bottom: 5px;
            font-size: 9px;
            line-height: 1.3;
        }

    /* Estilo general para las secciones */
    section {
        margin-bottom: 18px;
    }

        section h2 {
            font-size: 10px;
            color: #292b2f;
            border-bottom: 1px solid #ffcc00;
            padding-bottom: 4px;
            margin-bottom: 8px;
            text-transform: uppercase;
        }

        section p, section ul {
            text-align: justify;
            font-size: 9px;
            color: #333;
            margin-bottom: 8px;
        }

    /* Estilo para los iconos dentro de .section */
    .section i {
        margin-left: 4px;
        font-size: 1em;
        color: #fafbfd;
    }

    /* Estilo para el título del trabajo (h3) */
    .job h3 {
        color: #292b2f;
        font-size: 12px;
        margin-bottom: 4px;
    }

    /* Estilo para las fechas o descripciones de trabajos (p) */
    .job p {
        font-size: 9px;
        color: #666;
    }

    /* Estilo para la lista de responsabilidades y logros */
    .job ul {
        list-style-type: disc;
        margin-left: 15px;
    }

        .job ul li {
            margin-bottom: 4px;
        }
}

